footer
  .container.text-center
    ul.pull-right.list-inline
      li
        a(href='https://github.com/LegalComponents/IAuth') GitHub Project
      li
        a(href='https://github.com/LegalComponents/IAuth/issues') Issues
