extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col s12 center-align")
        div(class="row")
          a(href="/auth/github") Login with GitHub
        div(class="row")
          a(href="/auth/google") Login with Google
