div(class="card")
  div(class="card-block")
    h4(class="card-title") Github
    p(class="card-text") You have authorized GitHub to allow IAuth Workshop to:
    p(class="card-text") 
      ul
        li Identify you
        li Read public information
    a(href="/account/unlink/github", class="btn btn-danger") Unauthorize your GitHub account
  div(class="card-footer text-muted")
    p IAuth UnWorkshop and GitHub use your information in accordance with their respective terms of service and privacy policies. You can change this and other Account Permissions at any time.
