div(class="card")
  div(class="card-block")
    h4(class="card-title") Google
    p(class="card-text") You have authorized Google to allow IAuth Workshop to:
    p(class="card-text")
      ul
        li View your email address
        li View your basic profile
        li View and manage Google Drive files and folders that you have opened or created with this app
    a(href="/account/unlink/google", class="btn btn-danger") Unauthorize your Google account
  div(class="card-footer text-muted")
    p IAuth UnWorkshop and Google use your information in accordance with their respective terms of service and privacy policies. You can change this and other Account Permissions at any time.
