div(class="card")
  div(class="card-header")
    h4(class="card-text") IAuth UnWorkshop and You <strong>#{user.profile.name}</strong> agree to the following:<br>
  div(class="card-block")
    p(class="card-text") <strong>No Breaking Laws</strong> Neither UnWorkshop nor You, #{user.profile.name} will be breaking laws as part of providing using this service
    p(class="card-text") <strong>Authorizations</strong> We agree to the following authorizations:
